body{
    background-color: black;
    font-family: 'Cabin', sans-serif;
    *color: aliceblue !important;
    font-weight: 100;
    font-size: 1.2rem;
}


.navbar{
    border-bottom: thick solid white;
    *background-color: rgb(0, 0, 0) !important;
}
.container{
    margin-top: 5rem ;
    margin-bottom: 7rem;
}
.card{
    *margin: 15px;
    background-color: black;
}
/* .card img {
    width: 500px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
  } */
  .card h5{
    font-size: 1em;
    font-weight: bold;
  }
  .card a{
    text-decoration: none !important;
    color: white;
  }
  .card p{
    font-size: 0.8em;
    color: white;
    padding-left: 5%;
  }

  .imagenHov {
    position: relative;
    overflow: hidden;
  }
  
  .imagenHov img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.2s ease-out;
  }
  
  .imagenHov:hover img {
    transform: scale(1.1);
  }

  .pagination > li > a
{
background-color: black;
color: rgb(255, 145, 0);
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: white;
    background-color: #f46f02;
    border-color: #fcac6b;
}

.pagination > .active > a
{
    color: white;
    background-color: #f46f02;
    border: solid 1px #fcac6b;
}

.pagination > .active > a:hover
{
    background-color: #f46f02;
    border: solid 1px #fcac6b;
}